 @{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { @required = true })

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description, new { @required = true })

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>
  <a
  asp-controller="Treats"
  asp-action="Details"
  asp-route-id="@Model.TreatId"
  class="btn btn-primary"
  >
    Back to [@(Model.Name)] Details
  </a>
</p>
<p>@Html.ActionLink("Back to list of Treats", "Index")</p> 